@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";

.container {
    margin-top: 100px;
    @include flex_box_custom(space-between, center, 0);
}

.boxImg {
    @include flex_box_custom(center, center, 0);
    width: 100%;
    img {
        width: 450px;
    }
}

.boxBtn {
    text-align: center;
}

.title {
    font-size: 35px;
    color: $four_color;
    font-weight: 400;
    text-align: center;
}

.des {
    margin-bottom: 30px;
    font-size: 16px;
    color: $third_color;
    font-weight: 300;
    text-align: center;
    width: 460px;
    line-height: 25px;
}
