@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    right: 0;
    left: 0;
}

.topHeader {
    top: 0;
    position: absolute;
}

.fixedHeader {
    top: -83px;
    position: fixed;
    background-color: #ffffffe6;
    box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
    // backdrop filter only works with background rgba
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 999;
    transform: translateY(83px);
    transition: transform 600ms ease;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
    margin-right: auto;
    margin-left: auto;
}

.menuLeft,
.menuRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.boxContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.boxIcon {
    @include radius(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
}

.containerMenu {
    display: flex;
    align-items: center;
}

.menuItem {
    cursor: pointer;
    padding-top: 6px;
    font-size: 15px;
    color: $primary_color;
}
.menuItem + .menuItem {
    padding: 6px 10px 0;
}
.menuItem:nth-of-type(1) {
    padding-right: 10px;
}
.menuItem:nth-of-type(3) {
    padding-right: 0;
}
.menuItem::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $primary_color;
    @include radius(6px);
    margin-top: 4px;
    transform: scale(0);
    opacity: 0;
    transform-origin: right;
    transition: transform 300ms, opacity 500ms;
}
.menuItem:hover::after {
    transform: scale(1);
    opacity: 1;
}

.logo {
    width: 153px;
    height: 53px;
}
